body {
  min-width: calc(320rem / 16);
  padding: 24px;
  display: grid;
  place-content: center;
  background-color: var(--very-dark-blue);
  font-family: "Inter", sans-serif;
}

main {
  background-color: var(--dark-desaturated-blue);
  border-radius: calc(10rem / 16);
  overflow: hidden;
}

.hero-image {
  width: 100%;
  aspect-ratio: 4 / 3;
  background-image: url("./images/image-header-mobile.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  opacity: 0.75;
  background-color: var(--soft-violet);
}

section {
  padding: 40px 32px 32px 32px;
  text-align: center;
}

h1 {
  font-size: calc(28rem / 16);
}

p,
article {
  color: var(--main-p-white);
}

h1,
article strong {
  color: white;
}

em {
  font-style: normal;
  color: var(--soft-violet);
}

p {
  font-size: calc(15rem / 16);
  margin-block: 16px 40px;
}

article div:nth-child(3) {
  margin-block: 24px;
}

article span {
  text-transform: uppercase;
  font-family: "Lexend Deca";
  font-size: calc(12rem / 16);
}

@media (min-width: calc(500rem / 16)) {
  article {
    display: flex;
    justify-content: space-between;
  }

  article div:nth-child(3) {
    margin-block: 0;
  }

  section {
    padding: 72px;
  }
}

@media (min-width: calc(800rem / 16)) {
  main {
    display: flex;
    flex-direction: row-reverse;
  }

  section {
    text-align: start;
  }

  h1 {
    font-size: calc(36rem / 16);
  }

  strong {
    font-size: calc(24rem / 16);
  }
}

:root {
  --very-dark-blue: hsl(233, 47%, 7%);
  --dark-desaturated-blue: hsl(244, 38%, 16%);
  --soft-violet: hsl(277, 64%, 61%);
  --main-p-white: hsla(0, 0%, 100%, 0.75);
  --stat-headings-white: hsla(0, 0%, 100%, 0.6);
}
